body { 
    background: #333333 !important; 
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(253, 209, 88), rgb(248, 30, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

h2 {
    color: steelblue !important; 
}

p {
    color: white !important;
}

.table { 
    background: white !important;
    border-style: none !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    margin-bottom: 20px;
}

iframe {
  display: block;
}

.indexImage {
    width: 80%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 3px solid rgba(255, 255, 255, .2);
}

.title {
    background: steelblue !important;
    border-style: none !important;
}

.fillIn{
    background: #1e1e1e !important;
}

.jumbotron {
    background: -webkit-linear-gradient(rgb(158, 158, 158), #1e1e1e);
}

input {
    background: #1e1e1e  !important;
    border-style: none !important;
    color: white !important;
}

td {
    border-style: none !important;
}

td {
    color: white;
    font-weight: bold !important;
}

.lootImage img {
    -webkit-filter: drop-shadow(5px 5px 0 black)
                    drop-shadow(-5px -5px 0 black);
    filter: drop-shadow(5px 5px 0 black) 
            drop-shadow(-5px -5px 0 black);
  }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    scroll-behavior: smooth;

    /*pulse*/
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

#myImg {
  display: inline;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff !important;
    font-size: 60px !important;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }






  #video {
    display: block;
    margin: none;
    border: 0;
    display: inline;
  }
  
  #image1 {
    padding: 0;
    margin: 0;
    width: inherit;
    display: inline;
  }
  
  .content {
    text-align: center;
      display: block;
  }
